PackageIdentifier: garzuu.Backuppo
PackageVersion: __VERSION__
InstallerType: zip
NestedInstallerType: portable
NestedInstallerFiles:
  - RelativeFilePath: bkpo.exe
    PortableCommandAlias: bkpo
Installers:
  - Architecture: x64
    InstallerUrl: https://github.com/garzuu/backuppo/releases/download/v__VERSION__/backuppo-agent-v__VERSION__-x86_64-pc-windows-msvc.zip
    InstallerSha256: __SHA256_WINDOWS_X86_64__
ManifestType: installer
ManifestVersion: 1.6.0
