# Manifest versione. Generato da scripts/packaging/render-templates.sh.
# Pubblicare richiede una PR su https://github.com/microsoft/winget-pkgs
# in manifests/g/garzuu/Backuppo/__VERSION__/ (azione manuale del maintainer).
PackageIdentifier: garzuu.Backuppo
PackageVersion: __VERSION__
DefaultLocale: en-US
ManifestType: version
ManifestVersion: 1.6.0
